# Flask config parameters
STATIC_FOLDER_DEV = '/opt/workspace/python/partify/static'
CSRF_ENABLED = True
CSRF_SESSION_KEY = "Mooooow01"
SECRET_KEY = 'Ch4ngm3'

# Twitter Authentication - You have to get this from dev.twitter.com -
CONSUMER_KEY = "sfdgsdzfsdfgsdfsdfsdf"
CONSUMER_SECRET = "v9PXszapOt5bvo30RsFT4Egasfdgfv4LWVgrzkHDygwtTYIDUgcd0J4yz"
ACCESS_TOKEN = "20471824-FLJfsgdfgsfdL0gDETUzbxXmCuw1mDjnqhd9TTCw9umVMWWXQI"
ACCESS_TOKEN_SECRET = "SyHzdNqRZs9SXsfdgsfdgsdfhDK9NZKcLswzUDVUaazCaUPQRBU8VekR"

# Partify Configuration
TWITTER_SEARCH_HASHTAG = ""
INSTAGRAM_SEARCH_HASHTAG = ""
