# Flask config parameters
STATIC_FOLDER_DEV = '/tmp/partify/static'
CSRF_ENABLED = True
CSRF_SESSION_KEY = "Mooooow01"
SECRET_KEY = 'Ch4ngm3'

# Redis
REDIS_IP = "127.0.0.1"
REDIS_PORT = "6379"
REDIS_AUTH = False
REDIS_PASSWORD = "XXXXXXXXXXXXXXX"

# Twitter Authentication - You have to get this from dev.twitter.com -
CONSUMER_KEY = "XXXXXXXXXXXXXXX"
CONSUMER_SECRET = "XXXXXXXXXXXXXXX"
ACCESS_TOKEN = "20471824-XXXXXXXXXXXXXXX"
ACCESS_TOKEN_SECRET = "XXXXXXXXXXXXXXX"

# Instragram Authenticartion - You have to get this from
INSTAGRAM_AUTH_TOKEN = "XXXXXXXXXXXXXXX"

# Partify Configuration
TWITTER_ENABLE = True
INSTRAGRAM_ENABLE = True
